<div class="starships__page container">
  <mat-spinner *ngIf="showSpinner"></mat-spinner>
  <div *ngIf="!showSpinner">
    <table mat-table [dataSource]="resultStarShips" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef>Modelo</th>
        <td mat-cell *matCellDef="let element">{{ element.model }}</td>
      </ng-container>
      <ng-container matColumnDef="manufacturer">
        <th mat-header-cell *matHeaderCellDef>Fabricante</th>
        <td mat-cell *matCellDef="let element">{{ element.manufacturer }}</td>
      </ng-container>
      <ng-container matColumnDef="hyperdrive_rating">
        <th mat-header-cell *matHeaderCellDef>Hyperdrive</th>
        <td mat-cell *matCellDef="let element">
          {{ element.hyperdrive_rating }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="colunas"></tr>
      <tr mat-row *matRowDef="let row; columns: colunas" (click)="clickedRow(row)"></tr>
    </table>
    <mat-paginator
      aria-label="Selecione a página"
      [length]="totalStarships"
      [pageSize]="10"
      [pageIndex]="paginaAtual - 1"
      (page)="changePagination($event)"
      >

</mat-paginator>

  </div>
  <div class="details" *ngIf="detailsStarships">
    <div *ngFor="let details of detailsStarships">
      <p>Nome:
        {{details.name}}</p>
      <p>Valor:
        {{details.cost_in_credits}}$</p>
      <p>velocidade atmosférica máxima:
          {{details.max_atmosphering_speed}}


    </div>
  </div>
</div>
